body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
  margin-bottom: 0.5em;
  color: #2c3e50;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 1.8em;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 0.3em;
  margin-top: 1.5em;
}

a {
  color: #4985f3;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: orange;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1.5em;
  text-align: left;
}

.profile-info {
  font-size: 16px;
  margin-top: 0px;  
  flex: none;
  text-align: center;
  width: 75%;
}

.profile-info h1 {
  margin-top: -15px;  
  margin-bottom: 0px; 
  text-align: left;
}

.profile-info p {
  margin: 2px 0; 
  text-align: left;
}

.profile-info ul {
  text-align: left;
}

.profile-image img {
  width: 175px;
  height: auto;
  margin-top: 10px;  
  margin-right: 20px;
  margin-bottom: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image p {
  margin: 2px 0; 
  margin-right: 20px;
  text-align: center;
}

.profile-image nav{
  margin: 2px 0; 
  margin-right: 20px;
  text-align: center;
}

nav {
  margin: 1em 0;
}

nav a {
  margin-right: 10px;
}

.research {
  margin-top: -30px;
}

.research-item {
  display: flex;
  margin-bottom: 1.5em;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  align-items: flex-start;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.research-image {
  flex-shrink: 0;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
}

.research-image img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.research-content {
  margin-top: 5px;
  flex: 1;
}

.research-content h3 {
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 1.3em;
}

.research-content p {
  margin: 0.5em 0;
  margin-top: 0px;
}

.research-content p strong {
  font-size: 0.9em; 
}

.minimal-block {
  background-color: #f9f9f9;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
}

.minimal-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.minimal-list li {
  margin-bottom: 12px;
  font-size: 0.9em; 
  /* color: #696969; */
}

.minimal-list li:last-child {
    margin-bottom: 0;
}

papertitle {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 200;
  color: black;
}

abstract,
authors {
  color:#696969;
  font-size: 14px;
}

footer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.9em;
  color: #7f8c8d;
}

@media (max-width: 600px) {
  .profile-section {
      flex-direction: column; /* Stack the image and text vertically */
      align-items: center; /* Ensure content is centered */
      text-align: center; /* Center the content on small screens */
  }
  
  .profile-image {
      margin: 0 auto 20px; /* Center the image and add space below it */
  }
  
  .profile-info {
      width: 100%; /* Ensure the text container takes full width */
      text-align: center; /* Center the text */
      margin: 0; /* Ensure no extra margin pushes the content off-center */
  }

  .profile-info h1, 
  .profile-info p, 
  .profile-info nav {
      text-align: center; /* Ensure the text is centered */
  }
}
