body {
    background-color: #f8f8f8;
    font-weight: 300;
}

div#outline {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

div#personal {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

div#title {
    text-align: center;
    display: block;
    font-family: 'Open Sans';
    font-size: 22px;
}

img#profile-img {
    max-height: 230px;
    height: auto;
    border-radius: 5px;
    border: 1px solid;
    display: block;
    margin-left: auto;
    margin: -30px 10px 10px 25px;
  }

a {color:#377eb8;}         /* Unvisited link  */
a:visited {color:#377eb8;} /* Visited link    */
a:hover {color:#377eb8;}   /* Mouse over link */
a:active {color:#377eb8;}  /* Selected link   */